@charset "UTF-8";
/*
h1{
    height: 300px;
    width: 300px;
    background-color: aqua;
    border-width: 10px;
    border-style: solid;
    border-color: coral;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
*/
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}
header{
    width: auto;
    background-color:white ;
    padding: 10PX;
    margin: 10px;
    border-radius: 20px 0px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.452)
    
}
main{
    background-color: white;
    padding: 10PX;
    margin: 10px;
    border-radius: 10px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin: 0px;
}
article{
    background-color: lightgrey;
    padding: 5px;
}
article > aside{
    background-color: rgb(129, 125, 125);
}
nav > a{
    text-decoration: none;
}
nav > a:hover{
    text-decoration: underline;
}
nav{
    background-color: rgb(143, 141, 141);
    box-shadow: 2px 2px 10px opx rgba(0, 0, 0, 0.637);
    padding: 3px;
}
footer> p{
    margin: 0px;
}
#bola{
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: aliceblue;
    border-radius: 50px;
}